body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.numbers > span{
  background-color: #686873;
  display:  inline-block;
  width: 24px;
  border-radius: 50%;
  margin: 5px;
  text-align: center;
  cursor: pointer;
}


.numbers > span.selected {
  cursor: not-allowed;
  background-color: green;

}

.numbers > span.disabled{
  cursor : not-allowed;
  background-color: #ddddec;
}

.stars > i{
  margin: 3px;
  font-size: 24px;
}
